<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.puzzle.game">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.4puzzleGame">
        <activity android:name="com.puzzle.game.lyUi.GameActivity" />
        <activity android:name="com.puzzle.game.lyUi.StartGameActivity" />
        <activity android:name="com.puzzle.game.lyUi.SelectPictureActivity" />
        <activity android:name="com.puzzle.game.lyUi.SelectDificultyActivity" />
        <activity android:name="com.puzzle.game.lyUi.GameStopActivity" />
        <activity android:name="com.puzzle.game.lyUi.NamePlayerActivity" />
        <activity
            android:name="com.puzzle.game.lyUi.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.4puzzleGame.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>